<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="http://harrybabu.github.com">harrybabu</a>
	  <div class="nav-collapse">
		<ul class="nav">		  
		  <li class="">
			<a href="http://harrybabu.github.com">
				<img src="/img/home-icon-0.png" height="30" width="25" />
			</a>
		  </li>
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://github.com/harrybabu" target="_blank">
				<img src="/img/github-icon.png" height="30" width="25"/>
			</a>
		  </li>		 
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://in.linkedin.com/in/harrybabu" title="Go to linkedin profile" target="_blank">
				<img src="/img/linkedin_logo.jpg" height="30" width="25" />	
			</a>
		  </li>		  	
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="https://twitter.com/Haribabu_v" title="Go to twitter.com/Haribabu_v" target="_blank">
				<img src="/img/twitter_logo.png" height="30" width="25" />
			</a>  
		  </li>	
		   <li class="divider-vertical"></li>
		  <li class="">
			<a href="https://www.facebook.com/Harrybabu" title="Go to facebook.com/harrybabu" target="_blank">
				<img src="/img/Facebook_logo.png" height="30" width="25" />
			</a>  
		  </li>	
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="atom.xml" title="Subscribe to RSS">
				<img src="/img/rss-icon.png" height="30" width="25" />
			</a>  
		  </li>	
		</ul>		
	  </div>
	</div>
  </div>
</div>