---
layout: post
title: Search for text inside any files using Lucene
category: Search
tags: Lucene
year: 2013
month: 6
day: 09
published: true
summary: A tutorial to show full-text search within any files using Apache Lucene
---

<div class="row">
	<div class="span3 columns well">
	  <h3>About this topic</h3>
	  <p>In this tutorial, i will show you how to build index using lucene and how to perform text search using lucene.</p>
	  <p><a href="https://github.com/harrybabu/TextSearcher/archive/master.zip" class="btn btn-info">Download source</a></p>	  
	  <br/>
	  <h3>Topic buzz</h3>
	  <p>What others are thinking. Add to the conversation and generate some chatter.</p>
	  <p> <a href="http://www.instapaper.com/hello2?url=http://harrybabu.github.com{{ page.url }}&amp;title={{ page.title }}"
title="Save {{ page.title }} to Instapaper" target="_blank">+Instapaper</a></p>
	  <p><g:plusone size="medium"></g:plusone></p>
	  <br/>
	  <h3>Read later</h3>
	  <p>Save this article for a later read or point of reference. <a href="http://www.instapaper.com/hello2?url=http://harrybabu.github.com{{ page.url }}&title={{ page.title }}" title="Save {{ page.title }} to Instapaper" target="_blank">+Instapaper</a> </p>
	  <br/>  
	</div>	
	<div class="span8 columns">	  
	  <p> <h2><small>About Lucene</small></h2>
Lucene is a full-text search library in Java which makes it easy to add search functionality to an application or website.
It does so by adding content to a full-text index. It then allows you to perform queries on this index, returning results ranked by either the relevance to the query or sorted by an arbitrary field such as a document's last modified date.
The content you add to Lucene can be from various sources, like a SQL/NoSQL database, a filesystem, or even from websites.</p>

<p><h2><small>Searching and Indexing</small></h2>
Lucene is able to achieve fast search responses because, instead of searching the text directly, it searches an index instead.This would be the equivalent of retrieving pages in a book related to a keyword by searching the index at the back of a book, as opposed to searching the words in each page of the book.
This type of index is called an inverted index, because it inverts a page-centric data structure (page->words) to a keyword-centric data structure (word->pages).</p>
<p><h2><small>Documents</small></h2>In Lucene, a Document is the unit of search and index.<br>An index consists of one or more Documents.
Indexing involves adding Documents to an IndexWriter, and searching involves retrieving Documents from an index via an IndexSearcher.
A Lucene Document doesn't necessarily have to be a document in the common English usage of the word. For example, if you're creating a Lucene index of a database table of users, then each user would be represented in the index as a Lucene Document.</p>
<p><h2><small>Fields</small></h2>
A Document consists of one or more Fields. A Field is simply a name-value pair. For example, a Field commonly found in applications is title. In the case of a title Field, the field name is title and the value is the title of that content item.
Indexing in Lucene thus involves creating Documents comprising of one or more Fields, and adding these Documents to an IndexWriter.</p>
<p><h2><small>Searching</small></h2>
Searching requires an index to have already been built. It involves creating a Query (usually via a QueryParser) and handing this Query to an IndexSearcher, which returns a list of Hits.</p>
<p><h2><small>Queries</small></h2>Lucene has its own mini-language for performing searches. Read more about the Lucene Query Syntax.The Lucene query language allows the user to specify which field(s) to search on, which fields to give more weight to (boosting), the ability to perform boolean queries (AND, OR, NOT) and other functionality. </p>  	  
	  <hr>
	  <h2>Building Indexes</h2>
	  <p>Create and store index for given file extensions in a directory.</p>
	  <pre><p>
int numIndexed = 0;
Directory dir = FSDirectory.open(indexDir);
Analyzer analyzer = new StandardAnalyzer(Version.LUCENE_44);
IndexWriterConfig in_config = new IndexWriterConfig(Version.LUCENE_44,analyzer );
if (!indexDir.exists()) {
    in_config.setOpenMode(IndexWriterConfig.OpenMode.CREATE);
    IndexWriter indexWriter = new IndexWriter(dir,in_config);
    indexDirectory(indexWriter, dataDir, suffix);		
    numIndexed = indexWriter.maxDoc();
    indexWriter.close();
}
dir.close();
return numIndexed;
</p></pre>
<p><small>Note: Here dataDir corresponds to the target directory, indexDir corresponds to the index storage directory and suffix corresponds to the file extensions that you are goin to index</small></p>
<pre><p>private void indexDirectory(IndexWriter indexWriter, File dataDir, String suffix) {
	File[] files = dataDir.listFiles();
	for (int i = 0; i < files.length; i++) {
		File f = files[i];
		if (f.isDirectory()) {
			indexDirectory(indexWriter, f, suffix);
		}
		else {
			indexFileWithIndexWriter(indexWriter, f, suffix);
		}
	}
}</p></pre>

<pre><p>private void indexFileWithIndexWriter(IndexWriter indexWriter, File f, String suffix) {
        if (f.isHidden() || f.isDirectory() || !f.canRead() || !f.exists()) {
		return;
	}
	if (suffix!=null && !f.getName().endsWith(suffix)) {
		return;
	}		
	Field fld = new TextField("contents", new FileReader(f));
        Field file = new StringField("filename",f.getCanonicalPath(), Field.Store.YES);
	Document doc = new Document();
	doc.add(fld);		
        doc.add(file);		
	indexWriter.addDocument(doc);
}</p></pre>
	  <hr>
	  <h2>Search</h2>
	  <p>Search for text within the target directory and return the filenames.</p>
<pre><p>public String searchIndex(File indexDir, String queryStr, int maxHits) {
        String files = new String();
        String field = "contents";
        IndexReader reader = DirectoryReader.open(FSDirectory.open(indexDir));
        IndexSearcher searcher = new IndexSearcher(reader);     
        Query query = new FuzzyQuery(new Term(field, queryStr));
	TopDocs topDocs = searcher.search(query, maxHits);
	
	ScoreDoc[] hits = topDocs.scoreDocs;
	for (int i = 0; i < hits.length; i++) {
		int docId = hits[i].doc;
		Document d = searcher.doc(docId);
                files = files + d.get("filename") + "\n";
		System.out.println(d.get("filename"));
	}
	files = files + String.valueOf(hits.length)+ " matches found" +"\n";
	System.out.println("Found " + hits.length);	
        return files;
}</p></pre>
 <p>The complete <a href="https://github.com/harrybabu/TextSearcher">source code </a> of this application is on Github. Clone/fork it.</p>	  	  
	  <pre><p>To run this application goto projectLocation/dist and type java -jar TextSearcher.jar</p></pre>
	  <hr>		
	</div>
</div> 

<div class="row">
	<div class="span3 columns">&nbsp;</div>
	<div class="span9 column">
			<p class="pull-right">{% if page.previous.url %} <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}"><i class="icon-chevron-left"></i></a> 	{% endif %}   {% if page.next.url %} 	<a href="{{page.next.url}}" title="Next Post: {{page.next.title}}"><i class="icon-chevron-right"></i></a> 	{% endif %} </p>  
	</div>
</div>

<div class="row">
    <div class="span3 columns">&nbsp;</div>
    <div class="span9 columns">    
        <h2>Comments Section</h2>
        <p>Feel free to comment on the post but keep it clean and on topic.</p> 
        <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'harrybabu'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
</div>

<!-- Twitter -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<!-- Google + -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
