--- 
layout: post
title: The Great Indian Trojan Horse of Happiness
category: Thoughts
tags: poems
year: 2013
month: 3
day: 17
published: true
summary: My Scribblings...
---
<div class="row">

    <div class="span3 columns well">
        <h3>About this topic</h3>

        <p>Stop making fool of yourself. </p>
        <br>

        <h3>Topic buzz</h3>

        <p>
            What others are thinking. Add to the conversation and generate some chatter.
        </p>

        <p>
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="harrybabu">Tweet</a>
        </p>

        <p>
            <g:plusone size=medium></g:plusone>
        </p>
        <br>

        <h3>Read later</h3>

        <p>
            Save this article for a later read or point of reference.
            <a href="http://www.instapaper.com/hello2?url=http://harrybabu.github.com{{ page.url }}&amp;title={{ page.title }}"
title="Save {{ page.title }} to Instapaper" target="_blank">+Instapaper</a>
        </p>
        <br></div>

    <div class="span8 columns">
    	  <p>You could Rubik’s Cube certain ‘truths’ out of the last couple of decades. In certain areas, we are international heavy-hitters, such as that well-worn mascot, software programming. Employment and education are more widespread than ever before. There have been gains in health. Certain notions of social and sexual freedom have had a wide trickledown into the lower-middle and working classes, especially in our teeming cities. There is far greater awareness of women’s rights than 20-30 years ago. But if you look at this period through a ‘happiness filter’, the colours stop looking so funky and bright.</p>
<br>
 

  <p>For instance, the Indian urban business class, whether rich or middling, no matter whether they are Marwari, Gujarati, Sindhi, Punjabi, South Indian, are the unhappiest people I’ve seen. Their aggression, their sense of being hard done by, their callousness is unmatched by any striving lower-middle-class or by any tribal or Dalit in a life-and-death situation. While other sections do things to strive to be less unhappy, this class keeps playing strip-teen-patti for the Happiness Jackpot at the Misery Casino, never realising that the cards are fixed, that they can never win. And, as they keep losing, their frustrations keep spreading in toxic seismic circles to the rest of us who surround them.</p>
<br>
  <p>If you look at a newspaper ad for Incredible India! and then turn and look out at one of these fellows, enraged about something, pressing his car horn with both hands at 6.30 in the morning, you have to wonder what went wrong.</p>

  <p>When we start connecting countries to the idea of ‘happiness’, one of the first things that come to mind is the American Declaration of Independence. That document defines as inalienable the rights to ‘life, liberty and the pursuit of happiness’. Since that time, Americans have been hunting down happiness as though it was a large herd of bison on the prairie. As the number of hunters has grown, the herd has shrunk to the point where the bison of happiness is almost as rare as the dodo. The thing is, what that document actually says is that this pursuit of happiness is an inalienable right not just for Americans but for all humans. Across the two hundred and thirty-five years since the Declaration, large parts of the world have become infected with the thrill of this chase.</p>

 <br>

  <p>We Sub-Continentals, on the other hand, have been taught over millennia not to run after happiness. We’ve been warned about illusory rainbows plotting in tandem with non-existent pots of gold. We’ve been advised not to fetishise satisfaction. To switch metaphors, we’ve been coached, again and again, not to fish outside life’s off-stump and to let the ball come to us.</p>

 <br>

  <p>Given the situation in India and on our planet, maybe we need to think out of the box about where happiness can really be found. Maybe, we Indians with our traditions of understanding the pitfalls of maya and lobh are the ones who are going to need to show the way, to lead the world with some brand new Renunciation/Do-Without societal cleansing software. It may not lead to happiness-happiness, but it may reduce widespread, critically deep dukh and taynsion.</p><br>
    	<br>
    </div>
</div>

<div class="row">
    <div class="span3 columns">&nbsp;</div>
    <div class="span9 column">
            <p class="pull-right">{% if page.previous.url %} <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}"><i class="icon-chevron-left"></i></a>   {% endif %}   {% if page.next.url %}    <a href="{{page.next.url}}" title="Next Post: {{page.next.title}}"><i class="icon-chevron-right"></i></a>   {% endif %} </p>  
    </div>
</div>

<div class="row">
    <div class="span3 columns">&nbsp;</div>
    <div class="span9 columns">    
        <h2>Comments Section</h2>
        <p>Feel free to comment on the post but keep it clean and on topic.</p> 
        <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'harrybabu'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
</div>

<!-- Twitter -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<!-- Google + -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
